# Phase 1 â€“ Digital Civil AI
Basic data analysis of structural elements using Python.

In [6]:
df.isnull()

   Element  Length_m  Load_kN
0    False     False    False
1    False     False    False
2    False     False    False
3    False      True    False

In [7]:
df.isnull().sum()

Element     0
Length_m    1
Load_kN     0
dtype: int64

In [8]:
df["Length_m"].mean()

np.float64(4.8999999999999995)

In [ ]:
df["Length_m"] = df["Length_m"].fillna(df["Length_m"].mean())

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/elements.csv")
df

  Element  Length_m  Load_kN
0    Beam       6.0       45
1  Column       3.2      120
2    Slab       5.5       80
3   Beam2       NaN      100

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Element   4 non-null      object
 1   Length_m  3 non-null      float64
 2   Load_kN   4 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 228.0+ bytes

In [5]:
df.describe()

       Length_m     Load_kN
count  3.000000    4.000000
mean   4.900000   86.250000
std    1.493318   31.983068
min    3.200000   45.000000
25%    4.350000   71.250000
50%    5.500000   90.000000
75%    5.750000  105.000000
max    6.000000  120.000000

The dataset contains structural elements with length and applied load values.